mat-form-field {
   margin-left: 520px;
   margin-top: 5px;
   width:300px;
   background-color: transparent;
   border-radius: 5px;
   margin-bottom: auto;
 }
 h2{
   font-weight: bold;
   text-align: center;
 }
 button{
   margin-left: 520px;
   margin-top: 5px;
   width: 280px;;
   border-radius: 5px;
 }
 input{
   margin-left: 520px;
 }